<!doctype html>
<script>
window.onload = startInterval;
function startInterval() {
    setInterval("refreshList();",1000);
}

function refreshList() {
    var list= document.getElementById("pages");
    fetch('{{ url_for('debug.list_pages') }}')
    .then( response => response.json())
    .then( data => {
        raw = data.map( page => "<li><a href={{ url_for('debug.main') }}"+page+">"+page+"</a></li>").join()
        console.log(raw)
        list.innerHTML = raw
    })
}

</script>
<body>
<label>Debug Pages:</label>
<ul id="pages"></ul>
</body>
