<!doctype html>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

</style>
<script>
    var connected = false;

    function keypress(event) {
        const params = {
            key: event.key,
            type: event.type,
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {
              'Content-Type': 'application/json'
            },
        };
        fetch('{{ url_for('home.key_press') }}', options)
    }

    document.addEventListener('keyup', (e) => {
        if (!connected)
            return;
        console.log('keyup', e.code)
        keypress(e)
    });
    document.addEventListener('keydown', (e) => {
        if (!connected)
            return;
        console.log('keydown', e.code)
        keypress(e)
    });

    function sourceOnChange(selectObject) {
        const params = {
            source: selectObject.value,
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {
              'Content-Type': 'application/json'
            },
        };
        fetch('{{ url_for('home.change_source') }}', options)
    }

    function runOnClick() {
        const params = {
            debug: document.getElementById('debug').checked,
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {
              'Content-Type': 'application/json'
            },
        };
        fetch('{{ url_for('home.run') }}', options)
    }

    function connectOnClick() {
        const params = {
            endpoint: document.getElementById('controller_endpoint').value,
        };
        const options = {
            method: 'POST',
            body: JSON.stringify(params),
            headers: {
              'Content-Type': 'application/json'
            },
        };
        fetch('{{ url_for('home.connect_controller') }}', options).then((response) => connected = true)
    }

</script>
<body>
<label>Controller Endpoint:</label>
<input type="url" id="controller_endpoint" value="http://192.168.50.101:5000/">
<button onclick="connectOnClick()">Connect</button>
<p></p>
<label>Screen Source: </label>
<select name="sources" id="sources" onchange="sourceOnChange(this)">
    {% for source in sources %}
    <option value="{{source}}">{{source}}</option>
    {% endfor %}
</select>
</body>
<p></p>
<body>
<img src="{{ url_for('home.video_feed') }}" width="1280" height="720"/>
</body>
<p></p>
<button onclick="runOnClick()">Run</button>
<input type="checkbox" id="debug" value="true">
<label><a href="{{ url_for('debug.main') }}">Debug</a></label>
<p></p>
<table>
    <tr>
        <th>Keyboard</th>
        <th>Controller</th>
    </tr>
    {% for k, v in keymap.items() %}
    <tr>
        <th>{{k}}</th>
        <th>{{v}}</th>
    </tr>
    {% endfor %}
</table>